body {

    background-image: url(p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.custom-button {
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .custom-button:hover {
    background-color: rgba(255, 255, 255, 0.582);
  }


  h2{
    
    background-color: rgba(255, 254, 254, 0);
  }